.bounceIn1{
  animation: bounceIn; 
  animation-duration: 1s;
  animation-fill-mode: both;
}
.zoomIn{
  animation: zoomIn; 
  animation-duration: 1s;
  animation-fill-mode: both;
}
.fadeInUp {
  animation: fadeInUp; 
  animation-duration: 2s;
  animation-fill-mode: both;
}
.fadeInDown{
  animation: fadeInDown;
  animation-duration: 2s;
  animation-fill-mode: both;
}
.delay1s{
  animation-delay: 1s;
}
.delay2s{
  animation-delay: 2s;
}
.delay3s{
  animation-delay: 3s;
}
.delay4s{
  animation-delay: 4s;
}
.delay5s{
  animation-delay: 5s;
}
.delay6s{
  animation-delay: 6s;
}
