$theme-color: #e85164;
$font-color: #333;
$border-color: #e2e3e5;
$back-color: #f0f2f5;

//多行文字截断
@mixin line-clamp($lines) {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: $lines; //显示的行数
  /*! autoprefixer: off */
  -webkit-box-orient: vertical;
  /* autoprefixer: on */
}
